<!DOCTYPE html>
<html>
    <style>
    h1{font-size: 48px;text-align: center;}
    </style>
    <body>
        <h1>Welcome to <%= person%> website</h1>      //using ejs template for embeddind it here by passing it from object
        <% include partials/nav.ejs %>                //including the partial views
    </body>
</html>